In [ ]:
import numpy as np
import pandas as pd
import os, sys
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
from xgboost import XGBClassifier

In [ ]:
#read data
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/parkinsons/parkinsons.data")

df.head(5)

             name  MDVP:Fo(Hz)  MDVP:Fhi(Hz)  ...   spread2        D2       PPE
0  phon_R01_S01_1      119.992       157.302  ...  0.266482  2.301442  0.284654
1  phon_R01_S01_2      122.400       148.650  ...  0.335590  2.486855  0.368674
2  phon_R01_S01_3      116.682       131.111  ...  0.311173  2.342259  0.332634
3  phon_R01_S01_4      116.676       137.871  ...  0.334147  2.405554  0.368975
4  phon_R01_S01_5      116.014       141.781  ...  0.234513  2.332180  0.410335

[5 rows x 24 columns]

In [ ]:
#get features and labels
features = df.loc[:,df.columns!='status'].values[:,1:]
labels = df.loc[:,'status'].values

In [ ]:
#get count of labels; 0 and 1
print(labels[labels==1].shape[0], labels[labels==0].shape[0])

147 48

In [ ]:
#scale the features to between -1 and 1
scaler = MinMaxScaler((-1,1))
x=scaler.fit_transform(features)
y=labels

In [ ]:
#split datasets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,  random_state=7)

Train the model

In [ ]:
model = XGBClassifier()
model.fit(x_train, y_train)

XGBClassifier()

In [ ]:
y_pred = model.predict(x_test)

print(accuracy_score(y_test, y_pred)*100)

94.87179487179486